@use "../../css/base/functions.scss" as functions;
@use "../../css/base/mixins.scss" as mixins;
@use "../../css/base/variables.scss" as vars;

.c-bloque-libros {
  background-color: vars.$color-background-1;
  padding: 60px 0;
  text-align: center;

  &__title {
    @extend .t-h2 !optional;
    margin-bottom: 50px;
    position: relative;

    &::after {
      @extend .o-title-decoration !optional;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 24px;
    justify-content: center;

    @include mixins.BreakpointAndDown("sm") {
      display: block;
    }

    > * {
      width: calc(functions.colsToGrid(4) - 24px);

      @include mixins.BreakpointAndDown("md") {
        width: calc(functions.colsToGrid(6) - 24px);
      }
      @include mixins.BreakpointAndDown("sm") {
        width: 100%;
      }
    }
  }
}
