@use "sass:color";
@use "sass:map";
@use "../base/variables.scss" as vars;

$buttons: (
  "primary": (
    "background-color": vars.$color-primary,
    "border-color": vars.$color-primary,
    "color": white,
  ),
  "secondary": (
    "background-color": vars.$color-secondary,
    "border-color": vars.$color-secondary,
    "color": white,
  ),
  "outlined": (
    "background-color": vars.$color-primary,
    "border-color": vars.$color-primary,
    "color": vars.$color-primary,
  ),
);

@each $key, $value in $buttons {
  .o-button--#{$key} {
    @each $property, $property-value in $value {
      #{$property}: $property-value;
    }
    align-items: center;
    border-width: 1px;
    border-radius: 5px;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 300ms ease;

    &:hover {
      background-color: color.adjust(map.get($value, "background-color"), $lightness: -10%);
    }
  }
}

.o-link {
  position: relative;
  text-decoration: none;

  &::before {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin: 0 auto;
    max-width: 0px;
    position: absolute;
    right: 0;
    top: 100%;
    transition: max-width 400ms ease;
    width: 100%;
  }
  &:hover::before {
    max-width: 200px;
  }
}
