@use "../../css/objects/buttons.scss" as buttons;
@use "../../css/base/mixins.scss" as mixins;
@use "../../css/base/variables.scss" as vars;

$front-page: ".c-header--front-page";

.c-header {
  background-color: vars.$color-secondary;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 50;

  &--front-page {
    @extend .c-header;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
  }

  @include mixins.BreakpointAndDown("md") {
    position: fixed;
  }

  &__hamburger-close,
  &__hamburger-open {
    height: 32px;
    margin: auto;
    position: absolute;
    transition: opacity 400ms ease, color 400ms ease;
    width: 32px;
  }

  &__hamburger-close {
    color: white;
    opacity: 0;

    .opened & {
      opacity: 1;
    }
  }

  &__hamburger-open {
    opacity: 1;

    .opened & {
      opacity: 0;
    }
  }

  &__logo {
    @include mixins.BreakpointAndDown("md") {
      filter: brightness(10);
    }
    a {
      img {
        max-height: 80px;
        width: 100%;
      }

      &:hover::after {
        content: none;
      }
    }
  }

  &__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include mixins.BreakpointAndDown("md") {
      flex-flow: column;
      justify-content: center;
      height: 100vh;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    .menu-item {
      list-style: none;
      padding: 15px;
      position: relative;

      a {
        @extend .o-link !optional;
        color: white;
        text-transform: uppercase;

        #{$front-page} & {
          color: vars.$color-titles;
        }

        @include mixins.BreakpointAndDown("md") {
          color: white !important;
        }

        &::after {
          color: inherit;

          @include mixins.BreakpointAndDown("md") {
            border-color: white;
          }
        }
      }

      .sub-menu {
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        border-top-left-radius: 0;
        left: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transition: opacity 300ms ease;
        z-index: 10;
        a {
          color: white;
        }
      }

      &.menu-item-has-children:hover .sub-menu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__menu-hamburger {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(vars.$color-secondary, 0.2);
    cursor: pointer;
    display: none;
    height: 32px;
    left: 15px;
    padding: 10px;
    position: absolute;
    top: 15px;
    width: 32px;
    z-index: 51;

    @include mixins.BreakpointAndDown("md") {
      display: inline-block;
    }

    .opened & {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    min-height: vars.$header-height;

    @include mixins.BreakpointAndDown("md") {
      background: rgba(vars.$color-secondary, 0.8);
      flex-flow: column;
      height: 100vh;
      left: 0;
      max-width: calc(100% - 30px);
      opacity: 0;
      padding: 15px;
      pointer-events: none;
      position: absolute;
      transition: opacity 400ms ease;
      width: 100%;

      .opened & {
        backdrop-filter: blur(5px);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
