@use "../../css/base/typography.scss" as typography;
@use "../../css/base/variables.scss" as vars;

.c-portada {
  background-color: white;
  min-height: 100vh;
  padding: calc(vars.$header-height + 30px) 0 30px;
  position: relative;

  &__description {
    background-color: vars.$color-semitransparent;
    max-width: 450px;
    padding: 10px;
  }

  &__image-1,
  &__image-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    position: relative;
    overflow: hidden;

    &::before {
      background-color: rgba(vars.$color-primary, 0.6);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__image-1 {
    background-image: url("img/_DSC5049.webp");
    height: 620px;
    width: 460px;
  }

  &__image-2 {
    background-image: url("img/_DSC3909.webp");
    position: absolute;
    right: 0;
    top: 0;
  }

  &__small {
    @extend .t-h4 !optional;
    &::before {
      content: "";
      display: inline-block;
      width: 40px;
    }
  }

  &__media-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__title-wrapper,
  &__content-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-flow: column;
    padding: 50px 0;
  }

  &__wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
  }
}
