@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

img,
iframe {
  max-width: 100%;
}

iframe {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto 20px;
}

@import "base/typography.scss";
@import "base/containers.scss";

@import "objects/buttons.scss";
@import "objects/decorations.scss";
@import "objects/inputs.scss";

@import "../pages/404.scss";
@import "../pages/blog.scss";
@import "../pages/single.scss";

@import "../components/author-link/author-link.scss";
@import "../components/bloque-colaboraciones/bloque-colaboraciones.scss";
@import "../components/bloque-libros/bloque-libros.scss";
@import "../components/colaboracion/colaboracion.scss";
@import "../components/content-single/content-single.scss";
@import "../components/featured-articles/featured-articles.scss";
@import "../components/footer/footer.scss";
@import "../components/header/header.scss";
@import "../components/libro/libro.scss";
@import "../components/navigation/navigation.scss";
@import "../components/portada/portada.scss";
@import "../components/post/post.scss";
@import "../components/rrss-links/rrss-links.scss";
@import "../components/search-form/search-form.scss";
@import "../components/sidebar/sidebar.scss";
@import "../components/tags/tags.scss";

@import "plugins/ccf-form.scss";
