@use "../../css/base/mixins.scss" as mixins;
@use "../../css/base/variables.scss" as vars;

.c-bloque-colaboraciones {
  background-color: white;
  padding: 60px 0;
  text-align: center;

  &__title {
    @extend .t-h2 !optional;
    margin-bottom: 50px;
    position: relative;

    &::after {
      @extend .o-title-decoration !optional;
    }
  }

  &__wrapper {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, auto);

    @include mixins.BreakpointAndDown("lg") {
      grid-template-columns: repeat(2, auto);
    }
    @include mixins.BreakpointAndDown("md") {
      display: flex;
      flex-flow: column;
    }
  }
}
