$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 600px;

$color-primary: #7c4f94;
$color-secondary: #190026;
$color-titles: #000;
$color-semitransparent: rgba(255, 255, 255, 0.6);
$color-background-1: #cfc0d7;
$color-background-2: #e0e0e0;

$header-height: 130px;
