@use "../../css/base/mixins.scss" as mixins;

.c-libro {
  display: block;
  margin-bottom: 20px;
  padding: 30px 0;

  &::after,
  &::before {
    content: none;
  }

  &__button {
    @extend .o-button--secondary !optional;
    margin: 0 auto;
    bottom: -20px;
    left: 0;
    max-width: calc(100% - 60px);
    position: absolute;
    right: 0;
    width: fit-content;
  }

  &__card {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    padding: 0 30px 20px;
    position: relative;
    text-align: center;
  }

  &__image {
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 340px;
    margin: -30px auto 0;
    width: 240px;
  }

  &__title {
    @extend .t-h5 !optional;
    color: black;
    margin-top: 16px;

    @include mixins.BreakpointAndDown("sm") {
      margin: 16px 0;
    }
  }
}
