@use "../../css/base/variables.scss" as vars;
@use "../../css/objects/inputs.scss" as inputs;

.c-search-form {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding: 30px 0;

  input {
    @extend .o-input !optional;
  }
}
